<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doc Pairs Scorer</title>
        <link rel="stylesheet" href="assets/water.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            header {
              display: flex;
              justify-content: space-between;
            }

            header h1 {
              display: inline-block;
              margin: 0;
              font-size: clamp(1.4rem, 2vw, 2rem)
            }

            header nav {
              display: flex;
              align-items: center;
            }

            section {
              display: flex;
              flex-direction: column;
            }

            .menu li {
              list-style: none;
              font-size: 1.2rem;
            }

            .menu ul {
              display: inline-flex;
              gap: 50px;
            }

            .menu a {
              color: var(--text-main);
            }

            .menu a.active {
              color: var(--links);
              border-bottom: 2px solid var(--links);
              pointer-events: none;
            }

            textarea {
              resize: none;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Doc Pairs Scorer</h1>
            <nav class="menu">
                <ul>
                    <li><a href="documents">documents</a></li>
                    <li><a href="scores">scores</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <%- body -%>
        </section>
    </body>
</html>
